* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
  display: block;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
